typing-extensions
langchain
langchain-core
langchain-openai
langchain-experimental
langchain_anthropic
langchain-google-genai
openai
pandas
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
streamlit
xhtml2pdf
markdown2
python-dotenv